@media (max-width: 1160px) {
  .first-block .body__pic {
    max-width: 95%;
  }
  .first-block .body {
    display: grid;
    grid-template-columns: 63% 37%;
  }
  .first-block .header {
    display: grid;
    grid-template-columns: 20% 78%;
  }
  .content__header {
    margin-bottom: 40px;
  }
  .third-block {
    background-position: 50% 0%, 50% 0%;
    padding-top: 35%;
    background-size: 30% 30%, 50% 40%;
    justify-content: center;
  }
  .social__pic {
    max-width: 50%;
  }
}
@media (max-width: 891px) {
  .consultation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .consultation .conslultation__header::before {
    position: fixed;
  }
  .cons__post {
    display: none;
  }
  .first-block .menu__btn {
    display: none;
  }
}
@media (max-width: 768px) {
  .first-block .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid #56aedb;
    border-radius: 50%;
    margin-left: 18px;
  }
  .first-block .header__burger::before,
  .first-block .header__burger::after {
    position: absolute;
    content: "";
    left: 9px;
    height: 2px;
    width: 10px;
    background-color: #56aedb;
  }
  .first-block .header__burger::before {
    bottom: 7px;
  }
  .first-block .header__burger::after {
    top: 7px;
  }
  .header__burger span {
    left: 9px;
    position: absolute;
    top: 12px;
    width: 10px;
    height: 2px;
    background-color: #56aedb;
  }
  .first-block .header__menu,
  .first-block .header__logo {
    display: none;
  }

  .first-block .header {
    display: flex;
    justify-content: space-between;
  }
  .first-block .header__post {
    display: block;
    margin-right: 18px;
  }
  .first-block .header__logo-media {
    display: flex;
    flex-direction: column;
  }
  .first-block .logo-pic {
    width: 16px;
    margin: 0 auto;
  }
  .first-block .body {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    padding-bottom: 10%;
  }
  .first-block .body__pic {
    max-width: 60%;
    margin: 0 auto;
    padding: 3% 0% 5% 0%;
  }
  .first-block .content__header {
    display: none;
  }
  .first-block .content__header-media {
    display: block;
  }
  .first-block .content__text {
    padding: 0% 10%;
    margin: auto;
    text-align: center;
  }
  .first-block .content__btn {
    margin: 0 auto;
    min-width: 261px;
    min-height: 66px;
    margin-top: 3%;
  }
  .first-block .body__content {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 678px) {
  .third-block {
    padding-top: 35%;
    background-size: 25% 15%, 35% 15%;
  }
  .form {
    width: 100%;
    margin-bottom: 20%;
  }
  .social__pic {
    display: none;
  }
  .social__block .social__text::after {
    right: 35%;
  }
  .second-block .second__header {
    flex-direction: column-reverse;
    text-align: center;
  }
  .second-block .header-prices {
    align-items: center;
  }

  .main__footers .main__footer {
    width: 150px;
  }

  .main__footers {
    flex-wrap: wrap-reverse;
  }
  .headers {
    display: none;
  }
  .footer__img img {
    width: 20%;
  }
  .last-log .last-logo {
    width: 40%;
  }
}
