@import url(./reset.css);
//-----------ПЕРЕМЕННЫЕ---------------------------
$col1: #585858;
$col2: #47a7e3;
$col3: white;
$col4: #f68738;
$col5: #306694;
$col6: #b5b5b5;
//------------ШАБЛОНЫ--------------------------
%triangle {
  position: absolute;
  content: "";
  left: -15px;
  top: 6.5px;
  border-left: 10px solid $col4;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
//------------МИКСИНЫ--------------------------
@mixin font($ff, $fw, $fs, $ln, $c) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  line-height: $ln;
  color: $c;
}
//-----------FIRST__BLOCK-----------------------
._container {
  max-width: 1204px;
  margin: 0 auto;
}
.first-block {
  background: url(../pics/border.png) no-repeat,
    linear-gradient(
      180deg,
      rgba(172, 216, 239, 0.5) -2.24%,
      rgba(245, 250, 255, 0) 78.75%
    );
  background-size: cover;
  .header {
    min-height: 94px;
    align-items: center;
    display: grid;
    grid-template-columns: 34% 66%;
  }
  .header__logo {
    padding-left: 10%;
  }
  .header__menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .header__burger {
    display: none;
  }
  .header__logo-media {
    display: none;
  }
  .header__post {
    display: none;
  }
  .menu__link {
    margin-right: 7px;
    position: relative;
    @include font("Montserrat", 500, 14px, 20px, none);
    text-decoration: none;
    &:hover {
      color: #f68738;
    }
    &._triangle {
      margin-right: 20px;
    }
    &._triangle::after {
      position: absolute;
      content: "";
      right: -12px;
      bottom: 7px;
      border-top: 7px solid $col1;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
  }
  .menu__btn {
    text-decoration: transparent;
    min-width: 184px;
    min-height: 31px;
    border: 2px solid #83bcdc;
    border-radius: 10px;
    color: $col2;
    @include font("Montserrat", 500, 12px, 15px, none);
    &:hover {
      transition: 1s;
      background-color: #fad1b3;
    }
  }
  .body {
    padding: 10% 2% 6% 2%;
    display: grid;
    grid-template-columns: 55% 45%;
    justify-items: flex-end;
  }
  .body__content {
    align-items: center;
    display: grid;
    grid-template-rows: 20% 49% 31%;
  }
  .content__header {
    @include font("Montserrat", 700, 46px, 60px, $col2);
  }
  .content__header-media {
    display: none;
    @include font("Montserrat", 700, 20px, 26px, $col2);
    margin: 0 auto;
  }
  .body__pic {
    width: 100%;
  }
  .content__text {
    padding: 0% 0% 0% 3%;
    @include font("Montserrat", 500, 16px, 26px, 0);
    & * {
      margin-bottom: 3%;
      position: relative;
    }
    .text1::before {
      @extend %triangle;
    }
    .text2::before {
      @extend %triangle;
    }
    .text2 {
      max-width: 625px;
    }
    .text3::before {
      @extend %triangle;
    }
  }
  .content__btn {
    border-style: none;
    max-width: 366px;
    min-height: 92px;
    @include font("Montserrat", 600, 16px, 20px, $col3);
    background: linear-gradient(180deg, #ffa96b -21.43%, #ee7a28 100%);
    border-radius: 25px;
    &:hover {
      transition: 1s;
      background: $col2;
    }
  }
}
.dots {
  text-align: center;
  @include font("Montserrat", 700, 40px, 50px, $col5);
}
.second-block {
  .second__header {
    padding: 4% 4% 0% 4%;
    display: flex;
  }
  .header-grid {
    flex: 1 1 auto;
  }
  .header__title {
    @include font("Montserrat", 700, 20px, 26px, $col1);
    margin-bottom: 1%;
  }
  .header-content {
    @include font("Montserrat", 500, 16px, 26px, $col1);
    max-width: 905px;
  }
  .header-prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .price {
    @include font("Montserrat", 400, 35.1781px, 36px, $col1);
    letter-spacing: 1.34795px;
    display: flex;
  }
  .price span {
    padding-left: 2%;
    @include font("Montserrat", 600, 47.1781px, 30px, $col1);
  }
  .description {
    text-align: center;
    @include font("Montserrat", 500, 12px, 26px, $col6);
  }
}
.slider {
  max-width: 1204px;
  position: relative;
  min-width: 0;
  margin: 0 auto;
}
.slider .slider__item {
  width: 450px;
  height: auto;
  text-align: center;
}
.slider__item img {
  width: 350px;
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.slick-slide.slick-center {
  opacity: 1;
}
.slick-arrow {
  margin: -30px 0px 0px 0px;
  border: 0;
  font-size: 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 15px;
  height: 30px;
}
.slick-arrow.slick-prev {
  left: 0;
  background: url(../pics/arrow1.png) 0 0 / 100% no-repeat;
}
.slick-arrow.slick-next {
  background: url(../pics/arrow2.png) 0 0 / 100% no-repeat;
  right: 0;
}
.slider .slick-dots {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0 3px;
}
.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid gray;
}
.slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  padding-right: 0;
  padding-left: 0;
  border: none;
}
.third-block {
  padding: 0% 4% 0% 3%;
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  background: url(../pics/form-pic.svg), url(../pics/round.png);
  background-repeat: no-repeat;
  background-position: 91% 50%, 100% 50%;
}
.form {
  box-sizing: border-box;
  padding: 5% 4% 5% 4%;
  max-width: 540px;
  background: #ffffff;
  box-shadow: 0px 7px 30px rgba(121, 121, 121, 0.2);
  border-radius: 25px;
}
.header-form {
  text-align: center;
}
.form-header {
  margin-bottom: 8px;
  @include font("Montserrat", 700, 28px, 32px, $col2);
}
.form-header-content {
  width: 280px;
  margin: 0 auto 35px auto;
  @include font("Montserrat", 500, 12px, 15px, $col1);
}
.price-appearance {
  position: relative;
  margin: 0px 0px 20px 20px;
  @include font("Montserrat", 700, 14px, 18px, #83bcdc);
}
.price-appearance::before {
  position: absolute;
  display: block;
  content: url("../pics/info.png");
  left: -25px;
  top: -3px;
}
.form-content {
  display: flex;
  flex-direction: column;
}
.form-content-inp:last-child {
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  margin-bottom: 14px;
  padding: 10px 0px 50px 0px;
  @include font("Montserrat", 500, 12px, 15px, #c7c7c7);
}
.form-content-inp:not(:last-child) {
  height: 40px;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  margin-bottom: 14px;
  @include font("Montserrat", 500, 12px, 15px, #c7c7c7);
}
.forms {
  display: flex;
}
.form-checkbox1 {
  width: 280px;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  @include font("Montserrat", 500, 12px, 15px, $col1);
}
.form-checkbox2 {
  width: 220px;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  @include font("Montserrat", 500, 12px, 15px, $col1);
}
.checkbox-item {
  margin-bottom: 17px;
}
.checkbox-inp {
}
.form-submit {
  max-width: 395px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.submit {
  min-height: 94px;
  border: 2px solid #47a7e3;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: transparent;
  @include font("Montserrat", 600, 18px, 22px, $col2);
}
.submit:hover {
  transition: 2s;
  background: #fabe94;
}
.agree {
  margin: 0 auto 0 60px;
  position: relative;
  @include font("Montserrat", 600, 11px, 13px, $col1);
}
.agree::before {
  position: absolute;
  content: url("../pics/check.svg");
  left: -25px;
  top: -5px;
}
.agree span {
  text-decoration: underline;
  color: $col2;
}
.social__block {
  display: flex;
  justify-content: space-around;
  margin: calc((162px / 1920px) * 100%) auto calc((149px / 1920px) * 100%) auto;
  .social__pic {
  }
  .social__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .social__text {
    position: relative;
    text-align: center;
    max-width: 400px;
    @include font("Monserrat", 500, 16px, 26px, $col1);
    margin-bottom: calc((50px / 400px) * 100%);
  }
  .social__text::after {
    position: absolute;
    content: url("../pics/like.svg");
    top: -80px;
    right: -40px;
  }
  .socials {
    display: flex;
    justify-content: center;
  }
  .social1 {
    margin-right: calc((40px / 400px) * 100%);
  }
  .social1,
  .social2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0px 7px 15px rgba(98, 112, 122, 0.18);
    border-radius: 20px;
    width: 123px;
    height: 123px;
  }
  .social1:hover {
    background-color: rgb(247, 157, 143);
    transition: 500ms;
  }
  .social2:hover {
    transition: 500ms;
    background-color: #47a7e3;
  }
}
.services {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .serv {
    margin: calc((100px / 1200px) * 100%) auto calc((40px / 1200px) * 100%) auto;
    width: 244px;
    height: 244px;
    background: #ffffff;
    box-shadow: 0px 7px 15px rgba(98, 112, 122, 0.18);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .serv:hover {
    transition: 500ms;
    background-color: #eba16d;
    box-shadow: 10px 10px 10px #b5b5b5;
  }
  .service__text {
    max-width: 250px;
    @include font("Montserrat", 700, calc(14px + 0.3vw), 26px, $col1);
    text-align: center;
  }
}
.footer {
  background: url(../pics/chlen.svg);
}
.consultation {
  max-width: 975px;
  max-height: 400px;
  margin-top: calc((195px / 1920px) * 100%);
  display: flex;
  box-shadow: 6px 7px 7px rgba(137, 137, 137, 0.1);
  border-radius: 25px;
  background-color: #ffffff;
  .consultation__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 5px;
  }
  .ldots {
    max-width: 157px;
  }
  .conslultation__header::before {
    position: absolute;
    content: url(../pics/ldots.svg);
    left: -80px;
    top: -50px;
  }
  .conslultation__header {
    margin-top: calc((50px / 410px) * 100%);
    padding-top: 31px;
    position: relative;
    @include font("Montserrat", 700, calc(20px + 0.5vw), 32px, $col2);
  }
  .conslultation__text {
    @include font("Montserrat", 500, calc(14px + 0.2vw), 26px, $col1);
    margin-top: calc((30px / 410px) * 100%);
    margin-bottom: calc((24px / 410px) * 100%);
  }

  .conslultation__btn {
    @include font("Montserrat", 600, 10px, 12px, #ffffff);
    background: $col4;
    border-radius: 16px;
    min-width: 320px;
    min-height: 68px;
    border: none;
    margin: 0 auto;
  }
  .conslultation__btn:hover {
    transition: 500ms;
    background: #47a7e3;
  }
  .cons__post {
    max-width: 490px;
  }
}

.main__footers {
  display: flex;
  justify-content: center;
  background: url(../pics/infin.svg) no-repeat;
  background-size: 40% 40%;
  background-position: -15% 120%;
  padding-bottom: 25px;
  .main__footer1 {
    display: flex;
  }
  .main__footer2 {
    display: flex;
  }
  .main__footer {
    min-width: 212px;
    max-width: 212px;
    margin-top: calc((57px / 1204px) * 100%);
  }
  .footer__header {
    @include font("Montserrat", 700, calc(12px + 0.1vw), 22px, $col3);
    border-bottom: 1px solid #b5dfff;
  }
  .footer__header:last-of-type {
    width: 150px;
  }
  .footer__list {
    @include font("Montserrat", 600, calc(9px + 0.1vw), 15px, #ffffff);
  }
  .footer__item {
    margin-top: calc((8px / 300px) * 100%);

    display: flex;
    flex-wrap: nowrap;
  }

  .fot__btn {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    min-height: 39px;
    min-width: 176px;
    border-radius: 10.8333px;
    border: 2.7px solid #ffffff;
    background-color: transparent;
    @include font("Montserrat", 600, 11px, 13px, #ffffff);
    margin-bottom: 10px;
  }
  .sub-header {
    margin-top: calc((23px / 300px) * 100%);
    @include font("Montserrat", 700, 12px, 16px, #b5dfff);
  }
  .footer__item img {
    margin-right: 10px;
  }
}
.last__footer {
  width: 100%;
  height: 66px;
  background: #2f6192;
}
.last-log {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 66px;
  .last-logo {
    width: 20%;
    margin-left: 20px;
  }
  .lastps {
    @include font("Montserrat", 500, 11px, 13px, $col3);
    margin-right: 50px;
  }
  .lastp {
    text-decoration: underline;
  }
}
