@import url(./reset.css);
.first-block .content__text .text3::before, .first-block .content__text .text2::before, .first-block .content__text .text1::before {
  position: absolute;
  content: "";
  left: -15px;
  top: 6.5px;
  border-left: 10px solid #f68738;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

._container {
  max-width: 1204px;
  margin: 0 auto;
}

.first-block {
  background: url(../pics/border.png) no-repeat, linear-gradient(180deg, rgba(172, 216, 239, 0.5) -2.24%, rgba(245, 250, 255, 0) 78.75%);
  background-size: cover;
}
.first-block .header {
  min-height: 94px;
  align-items: center;
  display: grid;
  grid-template-columns: 34% 66%;
}
.first-block .header__logo {
  padding-left: 10%;
}
.first-block .header__menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.first-block .header__burger {
  display: none;
}
.first-block .header__logo-media {
  display: none;
}
.first-block .header__post {
  display: none;
}
.first-block .menu__link {
  margin-right: 7px;
  position: relative;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: 20px;
  text-decoration: none;
}
.first-block .menu__link:hover {
  color: #f68738;
}
.first-block .menu__link._triangle {
  margin-right: 20px;
}
.first-block .menu__link._triangle::after {
  position: absolute;
  content: "";
  right: -12px;
  bottom: 7px;
  border-top: 7px solid #585858;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.first-block .menu__btn {
  -webkit-text-decoration: transparent;
          text-decoration: transparent;
  min-width: 184px;
  min-height: 31px;
  border: 2px solid #83bcdc;
  border-radius: 10px;
  color: #47a7e3;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: 15px;
}
.first-block .menu__btn:hover {
  transition: 1s;
  background-color: #fad1b3;
}
.first-block .body {
  padding: 10% 2% 6% 2%;
  display: grid;
  grid-template-columns: 55% 45%;
  justify-items: flex-end;
}
.first-block .body__content {
  align-items: center;
  display: grid;
  grid-template-rows: 20% 49% 31%;
}
.first-block .content__header {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
  text-transform: 60px;
  color: #47a7e3;
}
.first-block .content__header-media {
  display: none;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: 26px;
  color: #47a7e3;
  margin: 0 auto;
}
.first-block .body__pic {
  width: 100%;
}
.first-block .content__text {
  padding: 0% 0% 0% 3%;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-transform: 26px;
}
.first-block .content__text * {
  margin-bottom: 3%;
  position: relative;
}
.first-block .content__text .text2 {
  max-width: 625px;
}
.first-block .content__btn {
  color: white;
  border-style: none;
  max-width: 366px;
  min-height: 92px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: 20px;
  background: linear-gradient(180deg, #ffa96b -21.43%, #ee7a28 100%);
  border-radius: 25px;
}
.first-block .content__btn:hover {
  transition: 1s;
  background: #47a7e3;
}

.dots {
  text-align: center;
}/*# sourceMappingURL=style.css.map */